<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>
    

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">Add Comment</button>
            
        </div>
    </form>
    {{/if}}

    {{> comments post.comments}}

</article>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}